In [2]:
import pandas as pd

In [ ]:
with open("../data/microdados_ed_basica_2024.csv", "r") as f:
    conteudo = f.read()

In [ ]:
#O governo utiliza de ";" para separar os dados no csv.
df = pd.read_csv("../data/microdados_ed_basica_2024.csv", encoding="latin-1", sep=";")

C:\Users\LORENA\AppData\Local\Temp\ipykernel_15464\2885232389.py:1: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/microdados_ed_basica_2024.csv", encoding="latin-1", sep=";")

In [ ]:
#Definindo municipio e variáveis propostas para análise.
df_reduzido = df[df['NO_MUNICIPIO'] == 'Surubim'][[
    'NU_ANO_CENSO',
    'TP_DEPENDENCIA',
    'TP_LOCALIZACAO',
    'TP_SITUACAO_FUNCIONAMENTO',
    'IN_AGUA_REDE_PUBLICA',
    'IN_AUDITORIO',
    'IN_BIBLIOTECA',
    'IN_LABORATORIO_INFORMATICA',
    'IN_QUADRA_ESPORTES',
    'IN_LABORATORIO_CIENCIAS',
    'QT_MAT_BAS'
]]

,NU_ANO_CENSO,TP_DEPENDENCIA,TP_LOCALIZACAO,TP_SITUACAO_FUNCIONAMENTO,IN_AGUA_REDE_PUBLICA,IN_AUDITORIO,IN_BIBLIOTECA,IN_LABORATORIO_INFORMATICA,IN_QUADRA_ESPORTES,IN_LABORATORIO_CIENCIAS,QT_MAT_BAS
74096,2024,4,1,1,1.0,0.0,1.0,1.0,1.0,1.0,872.0
74097,2024,4,1,1,1.0,1.0,1.0,1.0,1.0,1.0,891.0
74098,2024,3,1,1,1.0,0.0,1.0,1.0,1.0,0.0,157.0
74099,2024,2,1,1,1.0,1.0,1.0,1.0,1.0,1.0,386.0
74100,2024,2,1,1,1.0,1.0,1.0,1.0,1.0,1.0,475.0
...,...,...,...,...,...,...,...,...,...,...,...
74160,2024,4,1,1,1.0,0.0,1.0,1.0,0.0,0.0,66.0
74161,2024,4,1,1,1.0,0.0,1.0,1.0,1.0,0.0,254.0
74162,2024,2,1,1,1.0,1.0,1.0,1.0,1.0,1.0,642.0
74163,2024,3,1,1,1.0,0.0,1.0,0.0,1.0,0.0,766.0
74164,2024,3,2,1,1.0,0.0,1.0,1.0,1.0,0.0,123.0

In [7]:
#Salva o novo dataframe em csv
df_reduzido.to_csv('../data/df_reduzido.csv', index=False)